/* Import the font(s) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Set margin and padding to 0 for whole page and change the font. */
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

/* Define some global variables */
:root {
	--tabsHeight: 20px;
	--addressBarHeight: 50px;
	--bookmarkBarHeight: 40px;
	--navbarHeight: calc(var(--tabsHeight) + var(--addressBarHeight) + var(--bookmarkBarHeight));
}

/* Set overflow to hidden for entire page. */
html,
body {
	overflow: hidden;
}

/* Set the webview-base to display: none by default */
#webview-base {
	display: none;
}

/* Styles for webviews */
.view {
	height: 100%;
}

.view,
.webview {
	margin-top: var(--navbarHeight);
	height: calc(100vh - var(--navbarHeight));
}

.fullscreen {
	margin: 0;
	height: 100vh;
}

/* Styles for the navbar */
.navbar {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	height: var(--navbarHeight);
}

/* Styles for tabs bar and address bar */
.tabs,
.addressBar {
	display: flex;
	align-items: center;
	height: var(--tabsHeight);
}

/* Styles for tabs */
.tabs {
	-webkit-app-region: no-drag;
}

/* Styles for titlebar */
.titlebar {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	-webkit-app-region: drag;
	/*background-color: gray;
	height: calc(var(--tabsHeight) + 10px);*/
}

/* Styles for window controls */
.win-controls {
	padding-right: 10px;
	display: flex;
	z-index: 20;
	-webkit-app-region: no-drag;
}

/* Styles for window control buttons */
.win-control {
	cursor: pointer;
	padding-left: 5px;
	width: 20px;
}

.win-control:hover {
	background-color: gray;
}

/* Styles for the navbar */
.navbar {
	text-select: none;
}

/* Styles for drag region */
.tabs .drag-region {
	-webkit-app-region: drag;
	width: 100%;
	height: 100%;
}

/* Set height for address bar */
.addressBar {
	--tabsHeight: var(--addressBarHeight);
	justify-content: space-between;
}

/* Styles for the actual tab */
.tab {
	display: flex;
	cursor: pointer;
	height: var(--tabsHeight);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 0 0;
	padding: 5px;
	background-color: grey;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Styles for ACTUAL (not the new tab) tabs */
.tab.actual {
	width: 100px;
	border: 1px solid black;
	background-color: white;
}

.tab.actual:hover {
	background-color: gray;
}

.tab.actual.active {
	background-color: black;
	color: white;
}

.tab.actual.active.window-inactive {
	color: grey;
}

/* Styles for the nav buttons */
.nav-button {
	border: none;
	cursor: pointer;
	border-radius: 50rem;
	height: 10px;
	width: 10px;
	background-color: inherit;
	padding: 10px;
	transition: background-color 0.2s ease-in-out;
}

/* Styles for nav button hover effect */
.nav-button:hover {
	background-color: gray;
}

/* Styles for disabled nav buttons */
.nav-button.disabled {
	color: grey;
	cursor: default;
	transition: none;
}

/* Styles for disabled nav buttons on hover */
.nav-button.disabled:hover {
	background-color: inherit;
}

/* Styles for the address box */
.address {
	background-color: hsl(0, 2%, 65%);
	border-radius: 25rem;
	width: calc(100% - 150px);
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.address .loading-bar {
	width: inherit;
}

/* Styles for when the loading bar is animated */
.address .loading-bar.animate {
	background-color: lightblue;
	animation-name: loading-bar;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	border-radius: inherit;
}

/* Styles for the input element in the address bar */
.address input {
	border: none;
	width: calc(100% - 30px);
	padding-left: 20px;
	/* width: 100%; */
	background-color: inherit;
}

/* Set the outline to none when the input element in the address bar is focused on */
.address input:focus {
	outline: none;
}

/* Styles for the options button */
.options-button {
	cursor: pointer;
}

/* Set the width for the tab space */
.tabs .space {
	width: 10px;
}

.tabs .space hr {
	display: none;
}

.tabs .space.tab-space hr {
	display: block;
	transform: rotate(90deg);
	width: 100%;
	background-color: gray;
}

/* Set the webview height to the entire page */
.webview {
	height: 100vh;
}

/* Styles for options dropdown */
.options {
	position: relative;
	display: inline-block;
	padding-right: 1%;
}

.options-dropdown {
	display: none;
	position: absolute;
	left: 0;
	/*top: 0;*/
	padding-right: 50px;
	box-shadow: -1 1 10 black;
	background-color: white;
}

/* Visible style */
.visible {
	display: block;
}

/* Styles for the bookmark bar */
.bookmarks {
	display: flex;
	text-align: center;
	height: var(--bookmarkBarHeight);
}

.bookmarks .space {
	width: 7px;
}

/* Styles for the individual bookmark buttons */
.bookmark {
	cursor: pointer;
	border-radius: 5px;
	padding: 1px;
	background-color: inherit;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(var(--addressBarHeight) / 2);
	transition: background-color 0.1s ease-in-out;
}

.bookmark:hover {
	background-color: hsl(0, 7%, 68%);
}

/* Styles for bookmark button */
#bookmark-button {
	padding-right: 10px;
	cursor: pointer;
}

/* Animation for loading bar */
/* @keyframes loading-bar {
	10% {
		width: 10%;
	}
	20% {
		width: 20%;
	}
	30% {
		width: 30%;
	}
	40% {
		width: 40%;
	}
	50% {
		width: 50%;
	}
	60% {
		width: 60%;
	}
	70% {
		width: 70%;
	}
	80% {
		width: 80%;
	}
	90% {
		width: 90%;
	}
	100% {
		width: 100%;
	}
} */
@keyframes loading-bar {
	from {
		width: 10%;
	}

	to {
		width: 100%;
	}
}